.filters {
  padding: 14px 0;
  grid-row: 1/3;
}

.filters--title {
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.filters--label {
  padding: 10px 20px;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: $cyan;
  }

  &:active .filters--checkbox {
    border-color: $blue-5;
  }
}

.filters--checkbox {
  width: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue;
  border-radius: 2px;
}

.filters--svg {
  width: 12px;
  height: 8px;
  fill: $blue;
}

.filters--text {
  margin-left: 10px;
}

input[type='checkbox']:not(:checked) + .filters--label .filters--svg {
  display: none;
}

input[type='checkbox']:focus-visible + .filters--label {
  outline: 1px solid $blue;
  outline-offset: -1px;
  background-color: $cyan;
}
