.sort {
  display: flex;
  justify-content: space-between;
}

.sort--button {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0;
  width: 167.5px;
  color: $light-black;
  background-color: inherit;
  border: 1px solid $grey;
  cursor: pointer;

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
}
