.ticket {
  padding: 20px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 36px;
  row-gap: 20px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1)
}

.ticket--price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: $blue;
  margin: auto 0;
}

.ticket--logo {
  display: block;
  margin: auto 0 auto auto;
}

.ticket--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  column-gap: 20px;
  row-gap: 10px;
}

.ticket--title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  color: $dark-grey;
}

.ticket--text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  color: $light-black;

  &__lower {
    text-transform: lowercase;
  }
}
