-
  let filters = [
    {
      id: 'all',
      text: 'Все',
    },
    {
      id: '0_transfer',
      text: 'Без пересадок',
    },
    {
      id: '1_transfer',
      text: '1 пересадка',
    },
    {
      id: '2_transfer',
      text: '2 пересадка',
    },
    {
      id: '3_transfer',
      text: '3 пересадка',
    }
  ];

  let sorts = [
    {
      id: 'cheapest',
      text: 'Самый дешевый',
      class: 'sort--button__js-cheapest',
    },
    {
      id: 'fastest',
      text: 'Самый быстрый',
      class: 'sort--button__js-fastest',
    },
    {
      id: 'optimal',
      text: 'Оптимальный',
      class: 'sort--button__js-optimal',
    },
  ]
