doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
    title Aviasales
  body
  header.header
    img(src="./img/svg/icon/logo.svg", alt="Логотип" width='60' height='60')
  main.main
    form.form.filters(action="#", method="post")
      p.filters--title Количество пересадок
      label.filters--label
        input.visually-hidden(type="checkbox", name="all")
        span.filters--checkbox
          svg.filters--svg
            use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
        span.filters--text Все
      label.filters--label
        input.visually-hidden(type="checkbox", name="non-stop")
        span.filters--checkbox
          svg.filters--svg
            use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
        span.filters--text Без пересадок
      label.filters--label
        input.visually-hidden(type="checkbox", name="1 transfer")
        span.filters--checkbox
          svg.filters--svg
            use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
        span.filters--text 1 пересадка
      label.filters--label
        input.visually-hidden(type="checkbox", name="2 transfers")
        span.filters--checkbox
          svg.filters--svg
            use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
        span.filters--text 2 пересадки
      label.filters--label
        input.visually-hidden(type="checkbox", name="3 transfers")
        span.filters--checkbox
          svg.filters--svg
            use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
        span.filters--text 3 пересадки
    form.form.sort(action="#", method="post")
      button.sort--button.sort--button__js-click(type='button' name='cheapest') Самый дешевый
      button.sort--button(type='button' name='fastest') Самый быстрый
      button.sort--button(type='button' name='optimal') Оптимальный
    .ticket
      p.ticket--price 13 400 P
      img.ticket--logo(src='#' srcset='#' alt='Логотип компании' height='36')
      ul.ticket--list
        li.ticket--item
          p.ticket--title MOW - HKT
          p.ticket--text 10:45 - 08:00
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text.ticket--text__lower 21ч 15м
        li.ticket--item
          p.ticket--title 2 пересадки
          p.ticket--text hkg, jnb
      ul.ticket--list
        li.ticket--item
          p.ticket--title mow - hkt
          p.ticket--text 11:20 - 00:50
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text.ticket--text__lower 13ч 30м
        li.ticket--item
          p.ticket--title 1 пересадка
          p.ticket--text hkg
  footer
  script(src='./js/main.js' type='module')
  template
    .ticket
      p.ticket--price 13 400 P
      img.ticket--logo(src='#' alt='Логотип компании')
      ul.ticket--list
        li.ticket--item
          p.ticket--title MOW - HKT
          p.ticket--text 10:45 - 08:00
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text 21<span class='ticket--text__lower'>ч</span> 15<span class='ticket--text__lower'>м</span>
        li.ticket--item
          p.ticket--title 2 пересадки
          p.ticket--text hkg, jnb
      ul.ticket--list
        li.ticket--item
          p.ticket--title mow - hkt
          p.ticket--text 11:20 - 00:50
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text 13<span class='ticket--text__lower'>ч</span> 30<span class='ticket--text__lower'>м</span>
        li.ticket--item
          p.ticket--title 1 пересадка
          p.ticket--text hkg
